<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="ezfef"></ion-back-button>
    </ion-buttons>

    <ion-title>Associations à Laval</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/bds']">
      <ion-label>BDS</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/bda']">
      <ion-label>BDA</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>
