
<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-center">
      Associations de Paris
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>

  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/bde']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/BDE Madness.jpeg"></ion-img>
        </ion-thumbnail>
        <ion-label>BDE - Bureau des Elèves</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/bda']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/BDAurore.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>BDA - Bureau des Arts</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/bds']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/BDS Squale.jpeg"></ion-img>
        </ion-thumbnail>
        <ion-label>BDS - Bureau des Sports</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/kps']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/KPS.jpeg"></ion-img>
        </ion-thumbnail>
        <ion-label>KPS - Kernel Panic System</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/rec']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/REC.jpeg"></ion-img>
        </ion-thumbnail>
        <ion-label>REC - Asso Radio</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/assointer']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/AssoInter.jpeg"></ion-img>
        </ion-thumbnail>
        <ion-label>Association Internationale</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/airesiea']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/AirEsiea.png"></ion-img>
        </ion-thumbnail>
        <ion-label>Air Esiea - Aérospatial, Espace</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/dtre']">
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/DTRE.png"></ion-img>
        </ion-thumbnail>
        <ion-label>DTRE - Asso Robotique</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
