
<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-center">
      Associations
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>

<ion-content class="background_color">

  <div class="flex">

<!-- Association BDE -->
    <ion-card>
    <ion-item color = "danger">
      <ion-label>BDE</ion-label>
      <ion-button size = "small" detail routerLink="/bde">...</ion-button>
    </ion-item>
    <ion-card-content>
      BDE Paris
    </ion-card-content>
    </ion-card>

<!-- Association BDA -->
    <ion-card>
    <ion-item color = "warning">
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label>BDA</ion-label>
      <ion-button size = "small" detail routerLink="/bda">...</ion-button>
    </ion-item>
    <ion-card-content>
      BDA Paris
    </ion-card-content>

    </ion-card>

<!-- Association BDS -->
    <ion-card>
    <ion-item color="medium">
      <ion-label>BDS</ion-label>
      <ion-button size = "small" detail routerLink="/bds">...</ion-button>
    </ion-item>
      <ion-card-content>
        BDS Paris
      </ion-card-content>

    </ion-card>

<!-- Association KPS -->
    <ion-card>
    <ion-item color = "light">
      <ion-label>KPS</ion-label>
      <ion-button size = "small" detail routerLink="/kps">...</ion-button>
    </ion-item>
    <ion-card-content>
      KPS Paris
    </ion-card-content>
    </ion-card>

<!-- Association BDJ -->
    <ion-card >
    <ion-item color="success" >
      <ion-label>BDJ</ion-label>
      <ion-button size = "small" detail routerLink="/bdj">...</ion-button>
    </ion-item>
    <ion-card-content>
      BDJ Paris
    </ion-card-content>
    </ion-card>

<!-- Association Internationale -->
    <ion-card>
    <ion-item color = "secondary">
      <ion-label>International</ion-label>
      <ion-button size = "small" detail routerLink="/assointer">...</ion-button>
    </ion-item>


    <ion-card-content>
      Internationale Paris
    </ion-card-content>
    </ion-card>

<!-- Association Airesiea -->
    <ion-card>
    <ion-item color = "tertiary">
      <ion-icon name="rocket-outline" slot="start"></ion-icon>
      <ion-label>AirEsiea</ion-label>
      <ion-button size = "small" detail routerLink="/airesiea">...</ion-button>
    </ion-item>
    <ion-card-content>
      AirEsiea
    </ion-card-content>
    </ion-card>

<!-- Association REC -->
    <ion-card>
      <ion-item color = "success">
        <ion-icon name="mic-outline" slot="start"></ion-icon>
        <ion-label>REC</ion-label>
        <ion-button size = "small" detail routerLink="/rec">...</ion-button>
      </ion-item>
      <ion-card-content>
        REC
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
