<ion-header translucent>
<ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
</ion-buttons>
  <ion-title>REC</ion-title>
</ion-toolbar>
</ion-header>

<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>

<ion-content>


<ion-card class="welcome-card" style="background-color: white;">
  <ion-card-header>
    <ion-card-subtitle><i>Tous à vos micro!</i></ion-card-subtitle>
    <ion-card-title>Présentation</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <ion-img class="logo" src="../../assets/REC.jpeg"></ion-img>
    <p>REC, notre chère association radio, s'occupe de relayer les informations concernant la vie étudiante de l'école grâce
    à ses émissions hebdomadaires! Vous pourrez y retrouver des anecdotes, des interviews d'élèves, de membres d'association, de professeurs et bien d'autre encore.
  Ah oui, et beaucoup de fun!</p>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-list-header>
    <ion-label>Réseaux</ion-label>
  </ion-list-header>

  <ion-item href="radioesieaclub.com">
    <ion-icon slot="start" color="black" name="tv-outline"></ion-icon>
    <ion-label>Site Web REC</ion-label>
  </ion-item>

  <ion-item href="https://www.facebook.com/RadioEsieaClub/">
    <ion-icon slot="start" color="black" name="logo-facebook"></ion-icon>
    <ion-label>Facebook REC</ion-label>
  </ion-item>

  <ion-item href="https://www.instagram.com/radioesieaclub/">
    <ion-icon slot="start" color="black" name="logo-instagram"></ion-icon>
    <ion-label>Instagram REC</ion-label>
  </ion-item>

</ion-list>

</ion-content>
