<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle><i>Together we go further !</i></ion-card-subtitle>
        <ion-card-title>BIENVENUE SUR WESIEA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dédiée aux étudiants du groupe ESIEA, Wesiea est un outil de partage et de réunion rien que pour vous. Ainsi un Forum te permettra de discuter entre Esiarques de Paris et de Laval. Les Associations sont également mise au devant de la scène par leurs annonces, évènements et membres. Tout te sera transmis via la plateforme Wesiea ! De même, tu auras accès à toutes les actualités de l'école et pour obtenir de l'aide pour tes cours.</p>
        <p><br/>P.S. : Tu trouveras plus bas des Ressources en lien avec l'école : Site Officiel, EDT et Moodle.</p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Ressources</ion-label>
      </ion-list-header>
      <ion-item href="https://www.esiea.fr">
        <ion-icon slot="start" color="secondary" name="school"></ion-icon>
        <ion-label>Site officiel ESIEA</ion-label>
      </ion-item>
      <ion-item href="https://edt.esiea.fr/mobile">
        <ion-icon slot="start" color="secondary" name="book"></ion-icon>
        <ion-label>Emploi du temps (EDT)</ion-label>
      </ion-item>
      <ion-item href="https://learning.esiea.fr">
        <ion-icon slot="start" color="secondary" name="laptop"></ion-icon>
        <ion-label>Moodle ESIEA</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
