<ion-header translucent>
<ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button text="Retour"></ion-back-button>
</ion-buttons>
  <ion-title>BDJ Augustus</ion-title>
</ion-toolbar>
</ion-header>

<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>

<ion-content class="background_color">


<ion-card class="welcome-card" style="background-color: white;">
  <ion-card-header>
    <ion-card-subtitle><i>Réveillez l'artiste qui est en vous!</i></ion-card-subtitle>
    <ion-card-title>Présentation</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img class="logo" src="../../assets/BDJ.png"></ion-img>
    <p>Le BDA est l'association artistique de l'école qui a pour ambition d'exprimer l'art sous toutes ses formes! Que ce soit la musique, le dessin, la cuisine, la peinture,
    la littérature ou la photographie, le BDA passe par toutes les disciplines ayant un intérêt  culturel et divertissant pour les étudiants.</p>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-list-header>
    <ion-label>Réseaux</ion-label>
  </ion-list-header>

  <ion-item href="http://facebook.com/bdj.esiea">
    <ion-icon slot="start" color="black" name="logo-facebook"></ion-icon>
    <ion-label>Facebook BDJ</ion-label>
  </ion-item>

  <ion-item href="https://www.instagram.com/bdj.esiea/">
    <ion-icon slot="start" color="black" name="logo-instagram"></ion-icon>
    <ion-label>Instagram BDJ</ion-label>
  </ion-item>

  <ion-item href="https://twitter.com/bdj_esiea">
    <ion-icon slot="start" color="black" name="logo-twitter"></ion-icon>
    <ion-label>Twitter BDJ</ion-label>
  </ion-item>

</ion-list>

</ion-content>
