<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>  BDS Squale </ion-title>
  </ion-toolbar>
</ion-header>

<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>

<ion-content>


  <ion-card class="welcome-card" style="background-color: white;">

    <ion-card-header>
      <ion-card-subtitle><i>Du challenge, du fun et du sport!</i></ion-card-subtitle>
      <ion-card-title>Présentation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img class="fich-asso-logo" src="../../assets/BDS Squale.jpeg"></ion-img>
      <p>Le BDS est une association dont le but est de promouvoir les valeurs du sport à travers des compétions caritatives ou inter campus. Il vous proposera de participer à différentes
         manifestations sportives tels que le basket-ball, le football, le rugby, le handball, le geerleading, la muscu ou encore le karting!</p>
    </ion-card-content>

  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Réseaux</ion-label>
    </ion-list-header>

    <ion-item href="https://www.facebook.com/BdsEsiea/">
      <ion-icon slot="start" color="black" name="logo-facebook"></ion-icon>
      <ion-label>Facebook BDS</ion-label>
    </ion-item>

    <ion-item href="https://www.instagram.com/bds_esiea/">
      <ion-icon slot="start" color="black" name="logo-instagram"></ion-icon>
      <ion-label>Instagram BDS</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
